#foods {
  padding: 30px;
  max-width: 600px;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

mat-checkbox {
  margin-right: 10px;
}

button,
a {
  margin-right: 8px;
}

.main {
  background-color: #ffebee
}

.soup {
  background-color: #f9fbe7;
}

.side {
  background-color: #e0f7fa;
}
