/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { background-color: #FFFBE6; margin: 0; font-family: 'Montserrat', sans-serif; }

mat-card {
  box-shadow: none;
}
