<mat-action-list>
  <button mat-list-item > Új étlap </button>
  <button mat-list-item *ngFor="let menu of menus" (click)=selectMenu(menu.id)> {{ menu.id }} </button>
</mat-action-list>

<div id="menu">
  <!--<mat-form-field>
    <input matInput [matDatepicker]="dp" placeholder="Nap" [formControl]="date" (dateChange)="dateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>-->
  <mat-card *ngFor="let categories of menu">
    <mat-card-header>
      <mat-card-title>{{ categories.foodType.value }}ek</mat-card-title>
    </mat-card-header>

    <div *ngIf="categories.entries.length === 0">Még nincs {{ categories.foodType.value | lowercase}} hozzáadva az étlaptervhez!</div>

    <mat-accordion >
      <mat-expansion-panel *ngFor="let entry of categories.entries">
        <mat-expansion-panel-header>
          <mat-panel-title>
              {{ entry.food.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngIf="entry.food.history.length === 0; else elseBlock">Nem áll rendelkezésre adat erről az ételről</div>
        <ng-template #elseBlock>
          <strong>{{ fromNow(entry.food.history[0].date) }}</strong> szerepelt legutoljára az étlapon,
          <strong>{{ entry.food.history[0].price }}</strong> forintos árral.
        </ng-template>

        <mat-form-field>
          <input matInput type="number" [(ngModel)]="entry.price" (blur)="menuService.updatePrice()">
        </mat-form-field>

        <mat-action-row>
          <button mat-raised-button color="warn" (click)="menuService.removeFood(entry)">TÖRÖL</button>
        </mat-action-row>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>

  <button *ngIf="menuService.entries$.value.length > 0" mat-raised-button color="warn" (click)="menuService.resetMenu()">ELVET</button>
  <button *ngIf="menuService.entries$.value.length > 0" mat-raised-button color="primary" (click)="saveMenu()">MENTÉS</button>

</div>

<app-foods></app-foods>
