mat-action-list {
  display: inline-block;
  width: 170px;
  vertical-align: top;
}

#menu {
  display: inline-block;
  width: 500px;

  mat-card {
    margin-bottom: 10px;

    mat-form-field {
      display: block;
    }
  }
}
